---
import { changeLanguage } from "i18next";
import Layout from "../../../layout/Layout.astro";

changeLanguage("en");

const { slug } = Astro.params;
async function fetchProject(slug) {
    const url = `${import.meta.env.PUBLIC_URL_STRAPI}/api/celyon-progetti?filters[slug][$eq]=${slug}&populate=*`;
    const response = await fetch(url, {
        headers: {
            Authorization: `Bearer ${import.meta.env.PUBLIC_TOKEN_STRAPI}`
        }
    });
    const data = await response.json();
    return data.data[0];
}
const project = await fetchProject(slug);
---

<Layout title={project.titolo_progetto} description="Progetto Dettaglio">
  <section class="project-header">
    <img src={`${import.meta.env.PUBLIC_URL_STRAPI}${project.immagine_progetto.url}`} alt={project.titolo_progetto} />
    <h1>{project.titolo_progetto}</h1>
  </section>

  <section class="project-description">
    <p>{project.descrizione_interna}</p>
  </section>
</Layout>
