---
import { changeLanguage } from "i18next";
import Layout from "../../layout/Layout.astro";
import Collaborazione from "../../component/Collaborazione.astro";
import { Debug } from "astro:components";

changeLanguage("en");

const currentLang = "it";
async function fetchProjects(locale) {
    const url = `${import.meta.env.PUBLIC_URL_STRAPI}/api/celyon-progetti?populate=*&locale=${locale}&sort=order:asc`;
    const response = await fetch(url, {
        headers: {
            Authorization: `Bearer ${import.meta.env.PUBLIC_TOKEN_STRAPI}`
        }
    });
    const data = await response.json();
    return data.data;
}
const projects = await fetchProjects(currentLang);
---

<Layout title="I nostri ultimi progetti" description="Descrizione della pagina">
  <section class="intro-section">
    <h1>I nostri ultimi <span>progetti</span></h1>
    <h4>Descrizione introduttiva dei progetti...</h4>
  </section>

  <section id="griglia-progetti" class="grid grid-cols-2 gap-[100px]">
    {
      projects.length ? (
        projects.map((project) => (
          <div class="card-progetto">
            <a href={`/Progetti/${project.slug}`}>
              <img src={`${import.meta.env.PUBLIC_URL_STRAPI}${project.immagine_progetto.url}`} alt={project.titolo_progetto} />
              <h5>{project.titolo_progetto}</h5>
            </a>
          </div>
        ))
      ) : (
        <p>Nessun progetto trovato.</p>
      )
    }
  </section>

  <Collaborazione />
</Layout>
