---
import Layout from "../../layout/Layout.astro";
import Button from "../../component/Button.astro";
import Collaborazione from "../../component/Collaborazione.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("en");

const currentLang = i18next.language;
async function fetchProjects(locale) {
  const url = `${import.meta.env.PUBLIC_URL_STRAPI}/api/celyon-progetti?populate=*&locale=${currentLang}&?sort=order:asc`;
  const response = await fetch(url, {
    headers: {
      Authorization: `Bearer ${import.meta.env.PUBLIC_TOKEN_STRAPI}`
    }
  });
  const data = await response.json();
  return data.data;
}
let locale = "it";
let projects = await fetchProjects(locale);
async function updateLocale(newLocale) {
  locale = newLocale;
  projects = await fetchProjects(newLocale);
}
---

<Layout title="I nostri ultimi progetti" description="Descrizione della pagina">
  <section class="px-body lg:pt-[16.25vw] pt-[180px] flex lg:flex-row flex-col justify-between lg:items-end items-start lg:gap-[1.667vw] gap-[24px]">
    <h1 class="text-nero">
      I nostri ultimi<br />
      <span class="text-blu">progetti</span>
    </h1>
    <h4 class="text-nero lg:w-[31.25vw]">In questo paragrafo dovrà essere inserita una descrizione introduttiva in merito ai progetti realizzati, alle collaborazioni svolte.</h4>
  </section>

  <section class="px-body py-body grid lg:grid-cols-2 grid-cols-1 lg:gap-y-[5.556vw] gap-y-[80px] gap-x-[9.028vw]" id="griglia-progetti">
    {
      projects.map((project) => (
        <div class="card-progetto">
          <a href={`${currentLang === "en" ? "/en" : ""}/Progetti/${currentLang === "en" ? project.localizations[0].id : project.id}`} class="cursor-pointer hover-target flex flex-col lg:gap-[1.111vw] gap-[16px]">
            <img src={`${import.meta.env.PUBLIC_URL_STRAPI}${project.immagine_progetto.url}`} alt={project.titolo_progetto} class="lg:h-[41.667vw] h-[244px] w-full object-cover" />
            <div class="flex flex-col gap-[1.111vw]">
              <div class="pb-[0.556vw] border-b border-nero">
                <p class="text-grigio-200">{project.data_progetto}</p>
              </div>
              <h5 class="textClass !hover-target mt-[12px]">{project.titolo_progetto}</h5>
            </div>
          </a>
        </div>
      ))
    }
  </section>

  <Collaborazione />
</Layout>
