---
// JSON data directly in the component
const products = [
  {
    id: "01",
    title: "Impianti di oleodinamica e Elettroidraulica",
    description: "Brevissima descrizione di che cosa è il prodotto e per cosa può essere utilizzato.",
    image: "/img/page/home/swiper/oleodinamica.png"
  },
  {
    id: "02",
    title: "Impianti di oleodinamica e Elettroidraulica",
    description: "Brevissima descrizione di che cosa è il prodotto e per cosa può essere utilizzato.",
    image: "/img/page/home/swiper/oleodinamica.png"
  },
  {
    id: "03",
    title: "Impianti di oleodinamica e Elettroidraulica",
    description: "Brevissima descrizione di che cosa è il prodotto e per cosa può essere utilizzato.",
    image: "/img/page/home/swiper/oleodinamica.png"
  },
  {
    id: "04",
    title: "Impianti di oleodinamica e Elettroidraulica",
    description: "Brevissima descrizione di che cosa è il prodotto e per cosa può essere utilizzato.",
    image: "/img/page/home/swiper/oleodinamica.png"
  },
  {
    id: "05",
    title: "Impianti di oleodinamica e Elettroidraulica",
    description: "Brevissima descrizione di che cosa è il prodotto e per cosa può essere utilizzato.",
    image: "/img/page/home/swiper/oleodinamica.png"
  }
];
---

<!-- Swiper Component -->
<div class="swiper swiper-prodotti lg:mt-[6.944vw] mt-[60px]">
  <div class="swiper-wrapper">
    {
      products.map((product) => (
        <div class="swiper-slide">
          <div class="lg:p-[1.667vw] p-[16px] bg-grigio-100 flex lg:flex-row flex-col lg:gap-[3.056vw] gap-[32px]  lg:h-[40.278vw] h-full">
            <img src={product.image} alt={product.title} class="lg:h-full h-[240px] lg:w-[29.167vw]" />
            <div class="flex flex-col justify-between py-[3.056vw] w-full">
              <div class="lg:pb-[2.222vw] pb-[40px] border-b border-nero">
                <div class="flex flex-col gap-[0.694vw]">
                  <h3 class="text-blu">{product.id}</h3>
                  <h3 class="text-nero">{product.title}</h3>
                </div>
              </div>
              <p class="text-nero lg:mt-0 mt-[32px]">{product.description}</p>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
